@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --btn: #522245;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
.btn_background {
  background-color: var(--btn);
}
.main_background {
  background: rgb(37, 36, 42);
}
.second_background{
  background: linear-gradient(rgba(37, 36, 42, 0), rgba(37, 36, 42, 0)), url("https://hosting.renderforestsites.com/5699226/1163817/media/a8b955f720604f45f38a753fb1a6f19a.jpg") center center / cover no-repeat
}
.color_link {
  color: rgb(226, 166, 0);
}
